<div class="well">
    <h1>Site Soutenir</h1>
    <p>Maquette : Sandra Guigonis aka peupleLà et Gabriel Dejeante sur la base d’un travail de <a href="http://www.smile.fr/">Smile</a></p>
    <p>Intégration : Pierre-Yves Gosset et JosephK</p>
    <p>Carrousel : JosephK</p>
    <p>Le site est propulsé par le logiciel libre <a href="https://www.drupal.org/">Drupal.</p>

    <h2>Licence</h2>
    <p>Sources des images utilisées dans le carrousel :</p>
    <ul>
        <li><a href="https://flic.kr/p/i6ysF1"><em>Dolmen at Mougau-Bihan, Brittany - France</em></a>, Eric Huybrechts, Creative Commons By-SA</li>
        <li><a href="http://vol.framasoft.org/dokuwiki/doku.php?id=conception_affiche">Affiche VOL</a>, Creative Commons By-SA</li>
        <li>Stand Framasoft au RMLL2014, Lamessen, Creative Commons By-SA</li>
        <li><a href="https://flic.kr/p/i6ysF1"><em>Gigabit Switches</em></a>, Michael Himbeault, Creative Commons By</li>
        <li><a href="https://www.framablog.org/index.php/post/2013/11/21/framasoft-campagne-soutien-2013"><em>Framasoft - Campagne 2013</em></a>, LL de Mars, Licence Art Libre</li>
        <li><a href="https://twitter.com/framasoft/status/421956457861353473">AG à Locaux Motiv'</a>, aKa, Creative Commons By-SA</li>
        <li><a href="https://flic.kr/p/k1Wjhe"><em>Merci / Thank you</em></a>, Frédérique Voisin-Demery, Creative Commons By</li>
    </ul>
</div>
